---
const { id } = Astro.params;
---

<html>
  <head>
    <title>Dynamic Route {id}</title>
  </head>
  <body>
    <h1>Dynamic Route: {id}</h1>
    <p>Server time: {new Date().toISOString()}</p>
  </body>
</html>
